<!DOCTYPE html>
<html>
    <head>
        <title>Electoral Db</title>
    </head>

    <body>
        <h1>Add an address</h1>

        <form id="address_form" method="post" action="/electoraldb/add_address/">

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
                <br />
            {% endfor %}

            <input type="submit" name="submit" value="Create Category" />
        </form>
    </body>

</html>
