{%extends "electoraldb/base.html" %}
{% load staticfiles %}
{%block title%}Party Registration{%endblock%}
{%block head%}
<link href='/static/css/strength.css' rel='stylesheet' type='text/css'>
{%endblock%}
{%block content%}
<div class="container pull-left">
	<div class="row"> 
		<div class="col-sm-6 text-center">
			<h1>Party Registration Form</h1>
		</div>
	</div>
	<form id="party_form" class="form-horizontal" method="post" action="/electoraldb/validate_party/" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="form-group">
			<label class="col-sm-2 control-label">Party Name:</label>
			<div class="col-sm-4">
				<input class="form-control" id="id_partyname" maxlength="50" name="partyname" type="text" placeholder="Enter party name" required/>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Symbol:</label>
			<div class="col-sm-4">
				<input class="form-control" id="id_symbol" name="symbol" type="file" required/>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Type:</label>
			<div class="col-sm-4">
				<select class="form-control" id="id_type" name="type">
					<option value="national">National</option>
					<option value="state">State</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Password:</label>
			<div class="col-sm-4">
				<div class="input-group">
					<input class="form-control" id="id_password" name="password" type="password" placeholder="Enter the Password" required/>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Confirm Password:</label>
			<div class="col-sm-4">
				<div>
					<input class="form-control" id="id_re_password" name="re_password" type="password" placeholder="Confirm Password" required/>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-2">
				<input id="submit-btn" class="form-control btn btn-primary" type="submit" name="submit" value="Add Party" />
			</div>
		</div>
	</form>
</div>
{%endblock%}
{%block scripts%}
<script type="text/javascript" src="/static/js/strength.js"></script>
<script type="text/javascript">
$(document).ready(function ($) {
     $('input#id_password').strength({
 		strengthClass: 'strength',
        strengthMeterClass: 'strength_meter input-group-addon',
        strengthButtonClass: 'button_strength',
        strengthButtonText: 'Show password',
        strengthButtonTextToggle: 'Hide Password'});
});
// submit button clicked
$('#party_form').submit(function(){
	if($('input#id_re_password').val() == $('input#id_password').val() && $('input#id_password').val()!="")
	{
		$("input#id_re_password").parent().html("");
		return true;
	}
	else
	{
		alert("Password Mismatch");
		return false;
	}
});
// Confirm Password
$('input#id_password').on('input propertychange paste', function() {
	// check if re password is same as password
	// alert('changed!');
	if($('input#id_re_password').val() != $('input#id_password').val() || $('input#id_password').val()=="")
	{
		// unsuccessful
		$('input#id_re_password').parent().removeClass();
		$('input#id_re_password').parent().addClass('has-error');
	}
	else
	{
		//successful
		$('input#id_re_password').parent().removeClass();
		$('input#id_re_password').parent().addClass('has-success');
	}
});
$('input#id_re_password').on('input propertychange paste', function() {
	// check if re password is same as password
	// alert('changed!');
	if($('input#id_re_password').val() != $('input#id_password').val() || $('input#id_password').val()=="")
	{
		// unsuccessful
		$('input#id_re_password').parent().removeClass();
		$('input#id_re_password').parent().addClass('has-error');
	}
	else
	{
		//successful
		$('input#id_re_password').parent().removeClass();
		$('input#id_re_password').parent().addClass('has-success');
	}
});
</script>
{%endblock%}